{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div id="create_goal" class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form action="/submit_goals" method="POST">
                What type of goal is it?
                <input type="checkbox" name="goal_type" value="health">health
                <input type="checkbox" name="goal_type" value="work">work
                <input type="checkbox" name="goal_type" value="social">social
                <br>
                <br>
                Tell me a little bit more about what you want to get done!
                <br>
                <textarea id= "goal_text" name="goal_description"></textarea>
                <br>
                <br>
                How many times per week do you want to accomplish your goal?
                <select name="times_per_week">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <br>
                <br>
                <div class="form-group">
                        <label class="col-md-4 control-label" for="login"></label>
                        <div class="col-md-4">
                        <button type="submit" id="login" name="login" class="btn btn-primary">Done</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}