{% extends 'base.html' %}

{% block content %}
    <script>$('#login').remove()</script>
    <div class="container">
        <div class="row">
            <div id="sign_in" class="col-md-offset-4 col-md-4">
                <form action='/login' method="POST">
                Email:<input type="text" name="email">
                <br>
                Password:<input type="password" name="pass1">
                <br>
                <input type="submit" value="Done">
                </form>
            </div>
        </div>
    </div>
{% endblock %}