{% extends 'base.html' %}
{% block page_specific_script_tag %}
    <script src="/static/js/update_goals.js"></script>
{% endblock %}
{% block content %}


<div class="click">

Hello, {{user.first}}!!

Time to get things done!!

<br>
<br>
    <p> 
    So, the way things work here at goal_tracker:
    Weekly goals go from Sunday to Sunday at midnight. 
    So if you create a goal on Wednesday at 7pm, it'll have
    a deadline of Sunday at 11:59pm.
    If you want to extend the deadline, simply click the extend link
    below you goals and you'll have that goal for another week, with
    the same amount of times as the previous week.

    You can also edit your goal if you want it to be slightly different
    for the next week, or even create a new goal if you're smashing your goals.
    Which you are. Duh.
    </p>    
<br>
<br>
Your goals for this week are:
<br>
<br>
<br>
<br>
<br>
<!-- FIX ME!!! The formatting of this appears hard to read. Do
     research about good jinja formatting.  As well as commenting the below
     code -->

    <div id="goal_display">

    {% for goal in goals %}
            <br>
            <br>
            <div>{{goal.description}}</div>
                <br> 
                    <br>
                        {% if goal.num_of_times == 1 %}
                            <div>{{goal.num_of_times}} time this week</div>
                        {% else %}
                            <div>{{goal.num_of_times}} times this week</div>
                            <br>
                            <br>
                            <br>
                        {% endif %}

                        <!-- New statement!! FIXME!! -->
                        {% if goals_counts[goal.goal_id] %}
                                {% if goals_counts[goal.goal_id] / goal.num_of_times != 1 %}
                                    <div id={{goal.goal_id}}>
                                        <input type="radio" name="one_completion" value={{goal.goal_id}}>
                                        I did it!
                                            <br>
                                            <br>
                                    </div>
                                {% else %}
                                <div id={{goal.goal_id}}>
                                    Goal Complete!!
                                    <br>
                                    <br>
                                </div>
                                {% endif %}
                        {% else %}
                                <div id={{goal.goal_id}}>
                                        <input type="radio" name="one_completion" value={{goal.goal_id}}>
                                            I did it!
                                        <br>
                                        <br>
                                </div>
                            {% endif %}
            </div>
        
    {% endfor %}
    </div>

<a href='/add_goal'>Add another goal for this week!</a>
<br>
<br>
<a href='/goal_visualization'>See what you've accomplished!</a>

</div>

{% endblock %}